<h1>Trip to {{tripData.destination}}, {{tripData.trip_date}}</h1>
<div class="packing_list row">
  {{#each activitiesAndGear}}
  <div class="col-md-3">
    <h3>{{activity_name}}</h3>
    {{#each gear_data}}
    <ul>
      <li class='pack'>{{gear_name}} x {{quantity}}</li>
    </ul>
    {{/each}}
  </div>
    {{/each}}   
</div>