<h1>Trip to {{tripData.destination}}, {{tripData.trip_date}}</h1>
<div>
  {{#each tripData.activity_list}}
  <h3>{{this}}</h3>
  {{/each}}
  {{#each gearData}}
  <ul>
    <li class='pack'>{{gear_name}} x {{quantity}}</li>
  </ul>
  {{/each}}
</div>