{{>nav}}
<div>
  {{#if pastTrips}}
  <h2>Your past trips</h2>
    <ul class = "packing_list">
    {{#each pastTrips}}
      <li><a href ='/trips/{{user_id}}/future/{{trip_id}}'>{{destination}}</a></li>
    {{/each}}
  </ul>
  {{else}}
    <h2>You have no past trips</h2>
    <a href="/planner/{{id}}">Create a trip</a>
  {{/if}}
</div>